.ing-header {
  font-family: 'Allura', 'Open Sans', cursive, sans-serif;
}

.btn-font {
  font-family: 'Open Sans', cursive, sans-serif;
}

h3.card-title {
  font-weight: bold;
  font-size: xx-large;
  font-family: 'Allura', 'Open Sans', cursive, sans-serif;
}

.ingredient-card-body p {
  font-size: 20px;
  font-family: 'Open Sans', cursive, sans-serif;
  .units {
    font-family: 'Allura', 'Open Sans', cursive, sans-serif;
  }
}