#orders-page-header {
  margin: 0 auto;
  width: 50%;
  font-family: 'Allura', cursive;
  font-size: 80px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

#reservation-orders-page-header {
  font-family: 'Allura', cursive;
}

.edit-order-img-holder {
  height: 200px;
  overflow: hidden;
}
.menu-item-name {
  min-height: 48px;
}

.menu-item-inventory-list {
  height: 125px;
}
