#reservations-portal-header {
  margin: 0 auto;
  width: 50%;
  font-family: 'Allura', cursive;
  font-size: 80px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}
