#staff-page-header {
    font-family: 'Allura', cursive;
}



#staff-card-container {
    font-family: 'Open Sans', sans-serif;
}

#add-staff-button {
    font-family: 'Open Sans', sans-serif;
}

#add-staff-button:hover {
    color: white;
}

.staff-button {
    margin: 30px;
}
