@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// fonts:
// font-family: 'Allura', cursive;
// font-family: 'Open Sans', sans-serif; 

.nav-link:hover {
    background-color: lightgrey;
    color: white;
    text-decoration: underline;
}

.reserved-timeslot {
    color: red;
    margin-top: 10px;
}

.card-header {
    font-family: 'Allura', cursive;
    font-weight: bolder;
}

.reservations-title {
    margin: 0 auto;
    width: 50%;
    font-family: 'Allura', cursive;
    font-size: 80px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.reservation-modals {
    h2 {
        font-weight: bolder;
        font-size: 50px;
        text-align: center;
        font-family: 'Allura', cursive;
    }
    .new-reservation-form {
        display: flex;
        justify-content: space-between;
    }
    button {
        background-color: white;
        color:rgb(82, 79, 79);
        border: none;
    }
    button:hover {
        background-color: darkgray;
        color: white !important;
        text-decoration: underline;
    }
    
}

.individual-table {
    font-family: 'Open Sans', sans-serif; 
    margin: 15px; 
    padding: 2px;
    .edit-reservation-button {
            background-color: white;
            color:rgb(82, 79, 79);
            border: none;
            margin: 5px;
            font-weight: bolder;
            padding: 5px;
    }
    .edit-reservation-button:hover {
        background-color: darkgray;
        color: white !important;
        text-decoration: underline;
    }
    .delete-reservation-button {
        background-color: white;
        color:rgb(82, 79, 79);
        border: none;
        margin: 5px;
        font-weight: bolder;
        padding: 5px;
    }
    .delete-reservation-button:hover {
        background-color: darkgray;
        color: white !important;
    }
}

.hide {
    display: none;
}

#add-menu-item-modal {
    font-family: 'Open Sans', sans-serif;
    h2 {
        font-family: 'Allura', cursive;
    }
}

html {
    position: relative;
    min-height: 100%;
    body {
        background-color: white;
        min-height: 100%;
        display: block;
        padding-bottom: 9.5rem;
        nav {
            #brand-logo {
                width: 40px;
            }
            #navbar-logout-button {
                color: white;
            }
            #navbar-logout-button:hover {
                color: black !important;
            }
            .nav-link:hover {
                background-color: lightgrey;
                color: white !important;
            }
        }
        .full-page {
            padding-bottom: 11rem;
            .home-page{
                .home-page-logo {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    h1{
                        text-align: center;
                        font-family: 'Allura', cursive; 
                        margin-top: 10px;
                        font-size: 75px;
                    }
                    #stars-img {
                        width: 100%;
                    }
                }
                .auth-login-button-container {
                    text-align: center;
                    #login-button {
                        font-family: 'Open Sans', sans-serif;
                        margin-top: 25px;
                        background-color: white;
                        padding: 15px;
                        font-size: 20px;
                    }
                    #login-button:hover {
                        opacity: 0.5;
                    }
                }
                .fancy-resturant-photo-container {
                    margin-top: 50px;
                    display: flex;
                    justify-content: center;
                    img {
                        min-width: 75%;
                    }
                }
            }
            #staff-modal-content {
                border: 2px solid black;
                #header-section {
                    border-bottom: 2px solid black;
                    #modal-header {
                        font-family: 'Allura', cursive;
                    }
                }
                #staff-modal-body {
                    background-color: lightgray;
                    .staff-form {
                        font-family: 'Open Sans', sans-serif;
                        .staff-form-group {
                            border-bottom: 1px solid black;
                            padding-bottom: 10px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
        #footer {
            color: white;
            background-color: grey;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            div {
                .copyright {
                    margin: 0;
                    padding: 0;
                    font-size: 20px;
                    font-weight: 600;
                    font-family: 'Open Sans', cursive, sans-serif;
                }
                .location {
                    margin: 0;
                    padding: 0;
                    font-size: 22px;
                    font-weight: 600;
                    font-family: 'Open Sans', cursive, sans-serif;
                }
                .phone {
                    margin: 0;
                    padding: 0;
                    font-size: 20px;
                    font-weight: 600;
                    font-family: 'Open Sans', cursive, sans-serif;    
                }
            }
            .social {
                a {
                    background-color: white;
                    width: 40px;
                }
                a:hover {
                    background-color: rgb(56, 55, 55);
                    i {
                        color: white;
                    }
                }
            }
        }
    }
}

.ingredient-image {
    width: 200px;
}
