@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

h2 {
  font-size: 40pt;
}

.card-body {
  &:hover {
    background-color: gray;
    opacity: 90%;
  }
}

.menu-item-card {
  margin-bottom: 30px;
  font-family: "Open Sans";
  text-align: center;
  border-radius: 0;
  h5 {
    font-family: "Allura";
    font-size: 24pt;
  }
  &:hover {
    background-color: gray;
    opacity: 90%;
  }
}

.menu-item-img {
  width: 250px;
}

.img-holder {
  height: 300px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.desc-holder {
  height: 50px;
  margin-top: 10px;
}
